# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local database / temporary files
*.db
*.sqlite3